* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #151515;
    color: whitesmoke;
    font-family: Quicksand;
    font-size: 30px;
}

#buttonForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

#inputForm {
    display: flex;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    flex-direction: row;
    align-items: center;
}

button {
    margin: 40px;
    width: 100px;
    text-align: center;
    border-radius: 50%;
    height: 100px;
    color: white;
    font-size: 20px;
    font-family: Josefin sans;
    z-index: 5;
    border: none;
}

#one {background: linear-gradient(to right, #b3b3cc, #8080a0);}
#two {background: linear-gradient(to right, #e6e6ff, #b3b3cc);}
#three {background: linear-gradient(to right, #99cc99, #66cc66);}
#four {background: linear-gradient(to right, #ff6666, #ff9999);}
#five {background: linear-gradient(to right, #ffcc99, #ff9966);}
#six {background: linear-gradient(to right, #e6e6e6, #cccccc);}
#seven {background: linear-gradient(to right, #66ccff, #99ccff);}
#eight {background: linear-gradient(to right, #3366cc, #666699);}
#nine {background: linear-gradient(to right, #999999, #cccccc);}


input {
    margin: 20px;
    height: 50px;
    width: 220px;
    color: black;
    border-radius: 10px;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 30px;
}

.div {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    border-bottom: white 5px solid;
    width: 480px;
    text-align: center;
}

#resultDiv {
    top: 94%;
    font-size: 45px;
    border-bottom: 0px;
    border-top: 5px white solid;
}

#rings {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ring {
    position: absolute;
    border: grey 5px dotted;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

textarea:focus,
input:focus {
    outline: none;
}

p {
    color: #FF7700;
    font-family: permanent marker;
    font-size: 75px;
    z-index: 200;
    position: absolute;
    top: 215%;
    right: 2%;
}